* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f4f2;
}

.icon-s {
  font-size: 25px;
}

.icon-m {
  font-size: 35px;
}

.icon-l {
  font-size: 45px;
}
